* {
    box-sizing: border-box;
}
body {
    color: #FFFFFF;   
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
    padding: 20px 20px;
}
.container {
    background-color: #C4C4C4;
    min-width: 1100px;
    margin: 0 auto;
    padding: 0;
    display: table;
}
.box_line {
    min-width: 1000px;
    background: #E6E6E6;
    display: table;
    padding: 0;
    margin: 50px 50px;
}
.top {
    margin-top: 0;
}
.square:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.square {
    height: 200px;
    width: 200px;
    background-color: #FC8F8F;
}
.inner {
    display: inline-block;
    vertical-align: middle;
}
.one {
    float: left;
}
.two {
    float: right;
}
.little_box {
    float: left;
    width: 100px;
    height: 100px;
    font-size: 36px;
    line-height: 42px;
    margin-left: 15px;
}
.right {
    float: right;
}
.left_marg {
    float: left;
    margin-left: 15px;
}